.landing-container {
  overflow: hidden;
  background-color: #fff;
  background-size: contain;
}

.landing-page {
  margin-top: 50px;
}

/* Dark mode overrides */
body.dark .landing-container {
  background-color: #121212;
}

body.dark .landing-page {
  background-color: #121212;
}
